@use './mixin' as *;
@use './variables' as *;
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #edebe4;
}

//الاصناف العامة
.active{
    color:$red-color !important;
    font-weight: 800;

}
.line-heading{
    width: 10%;
    height:4px;
}
.text-heading{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: #342f2f;
}
a{
    text-decoration: none;
    color: #000;
}


// Header styles
header{
    // navbar_styles
    .navbar{
        .navbar-brand{
            width: 85px;
            height: 85px;
            margin-left: 20px;
            img{
                width: 100%;
                height: 100%;
               
            }
        }
        .navbar-nav{
            .nav-link{
                font-size: 16px;
                font-weight: 500;
                transition: all 0.4s ease;
                &:hover{
                    color:$red-color !important;
                     font-weight: 500;
    
                }
            }
        }
    
    
    }
    //breadcrumb-item
    .container{
        margin: 20px 15px 20px;
        
        .breadcrumb{
            display: flex;
            align-items: center;
            .breadcrumb-item{
                    a{
                        font-weight: 600;
                        margin-left: 15px;
                        color: #504c4c;
                    }
                   
                }
                .active-breadcrumb{
                    font-weight: 500;
                    font-size: 19px;
                    color: $color-coffe;
                }

            }
        
    }
    //carousel-top_styles
    .carousel-top{
        .row{
            display: block !important;
        }
        .carousel{
            .carousel-item{
                img{
                    height: 450px;

                }
                .overlay{
                    position: absolute;
                    background-color: rgba(65,155,155,0.3);
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    display: flex !important;
                    justify-content: center !important;
                    align-items: center !important;
                    flex-direction: column;
                    z-index: 0;
                }
            
            }
            .carousel-indicators{
                button{
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    margin: 20px 5px 0px 0px;
                    &.active{
                        background-color:$color-coffe;
                    }
                }
            }
            .carousel-caption{
                h1{
                    font-weight: bold;
                    color: $color-white;
                    margin-bottom: 50px;
                }
                h4{
                    width: 60%;
                    color:$custom-color;
                }
            }
            .carousel-control-prev,
            .carousel-control-next{
                i{
                    font-size: 30px;
                    color: white !important;
                    font-weight: 700;
                }
            }
        }
    } 

}
 //services_styles
 .services{
        
    .card{
        height: 200px;
        .card-title{
            font-size: 27px;
            font-weight: 800;
            margin-bottom: 10px;
        }
        .card-text{
            display: -webkit-box;
            -webkit-line-clamp: 2; /* تحديد عدد الأسطر */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            font-weight: 600;
            font-size: 17px;
        }
        .btn{
            background-color: $color-coffe;
            &:hover{
                background-color:rgba($color:$color-coffe, $alpha: 0.9);
            }
        }
    }


}
//featured-products
.featured-products{
    .card{
        width: 100%;
        border-radius:22px;
        .card-body{
            .card-title{
                font-size: 25px;
                font-weight: 800;
            }
            .card-text{
                display: -webkit-box;
                -webkit-line-clamp:5; /* تحديد عدد الأسطر */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                font-size: 16px;
                font-weight: 600;
            }
            .new-price{
                color: $color-coffe;
                font-weight: 700;
                font-size: 20px;
            }
            .old-price{
                font-weight: 700;
            }
            a{
                font-weight: 700;
            }
        }
    }
}

//page product
.product-desc{
    background-color: #f9f9f9;
    padding: 2rem;
    .container{
        .desc{
            font-size: 17px;
            font-weight: 600;
        }
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items:center;
        width: 170px;
        margin: auto;
        font-size: 17px;
        font-weight: 600;
        background-color: $color-coffe;
        color: $color-white;
        transition: all 0.4s ease;

         &:hover{
          background-color: #09c;

         }
    }

}

//reviews-section
.reviews-section {
    padding: 2rem;
    background-color: #f9f9f9;
    
    .reviews-title {
      text-align: center;
      font-size:25px;
      margin-bottom: 1.5rem;
      color: #5c4033; // لون بنى قريب من القهوة
    }
  
    .review-card {
      background: white;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
      .review-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        .user{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-left: 10px;
            }
        }
  
        .user-name {
          font-weight: bold;
          color: #333;
        }
  
        .stars {
          color: #ffcc00; // لون النجوم ذهبى
        }
      }
  
      .review-text {
        color: #555;
        font-size: 1rem;
      }
    }
  }

  //Similar-products
  .Similar-products{
    padding: 2rem;
    background-color: #f9f9f9;
    .featured-products{
        .card{
            width: 100%;
            height:540px;
            border-radius:22px;
            img{
                height: 300px;
            }
            .card-body{
                .btn{
                    display: flex;
                    justify-content: center;
                    align-items:center;
                    width:40%;
                    font-size: 15px;
                    font-weight: 600;
                    background-color: $color-coffe;
                    color: $color-white;
                    transition: all 0.4s ease;
            
                     &:hover{
                      background-color: #09c;
            
                     }
            
                }

            }
        }

    }
  }

  //about us| about.html styles
  .about-top{
    position: relative;
    width: 100%;
    height:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        position: absolute;
        color: $color-white;
        font-size: 46px;
        font-weight: 600;
    }
    
  }

  .about_us{
    padding: 2rem;
    background-color: #f9f9f9;
    h3{
        font-size: 35px;
    }
    h6{
        font-size: 25px;
    }
  }

  //contact pages styles
  .contact-us{
  
    background-color: #f9f9f9;
    .container{
        .contact-info{
            p{
                font-size: 19px;
                font-weight: 600;
                i{
                    color:$color-coffe;
                    padding-left: 15px;
                    font-size: 20px;
                }
            }
        }
        h5{
            font-size: 20px;
            font-weight: 700;
        }
        .social-icon{
            a{
                width: 30px;
                height: 30px;
                background-color:#09c;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                transition: all 0.4s ease;
                &:hover{
                    background-color:$color-white;
                    border: 1px solid gold;
                    transform: translateY(-4px);
                    i{
                        color: #09c;
                    }
                }
                i{
                    color: $color-white;
                    font-size: 15px;
                    
                
                }
            }
        }
        
        }
        form{
            input,
            textarea{

                &::placeholder{
                    font-size: 17px;
                    font-weight: 600;
                }
            }
            button{
                background-color: $color-coffe;
                border: none;
                font-size: 18px;
                font-weight: 600;
                transition: all 0.4s ease;
                &:hover{
                    background-color:$color-white;
                    border:1px solid $color-coffe;
                    color: $color-coffe;

                }
            }
            .invalid-feedback{
                font-size: 17px;
                font-weight: 500;
            }
            
        }
    }
  









// footer styles
footer {
    height: 450px;
    background-color: #82817e;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo-img{
            padding-top: 10px;
            height: 90px;
            width: 90px;
            img{
                width: 100%;
                height: 100%;
            }
        
    }
    .footer-nav-link{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 20px;
        .nav-link{
            color:$color-white !important;
            padding-left: 15px;
            font-size: 17px;
            font-weight: 400;
            transition: all 0.4s ease;
            &:hover{
                color:$red-color !important;
                 font-weight: 500;

            }
        }
    }
    label{
        font-size: 20px;
        font-weight: 700;
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        .btn{
            @include button($black-color,$color-white,$card-text-color);
            height:100%;
            border-bottom-right-radius: 0;
            border-top-right-radius:0;
        }
        .input-group{
            border-bottom-left-radius: 0;
            border-top-left-radius:0;

            &::placeholder{
                font-size: 17px;
                font-weight: 600;
            }
        }
    }
    .line{
        width: 60%;
        background-color: $color-white;
        height: 4px !important;
    }
    .social-icon{
        display: flex;
        justify-content:center;
        align-items: center;
        gap: 15px;
        a{
            width: 30px;
            height: 30px;
            background-color:#09c;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            transition: all 0.4s ease;
            &:hover{
                background-color:$color-white;
                border: 1px solid gold;
                transform: translateY(-4px);
                i{
                    color: #09c;
                }
            }
            i{
                color: $color-white;
                font-size: 15px;
                
            
            }
        }

    }
    .copyright{
        margin-top: 30px;
        p{
            color:#000;
            font-size: 17px;
            font-weight: 500;
        }
    }
}




//تجاوبية الصفحات

@media (max-width:1400px) {
    .services{
        .service{
           margin-left: 17px !important;
           display: flex;
           align-items: center;
           justify-content: center;
           margin: auto;
           

        }
    }
    .Similar-products{
        .featured-products{
            .card{
                .card-body{
                    .btn{
                        display: flex;
                        justify-content: center;
                        align-items:center;
                        width:40%;
                        font-size: 12px;
                        font-weight: 600;
                        background-color: $color-coffe;
                        color: $color-white;
                        transition: all 0.4s ease;
                
                         &:hover{
                          background-color: #09c;
                
                         }
                
                    }
    
                }
            }
    
        }
      }
    
    
    
    
}
@media (max-width:1200px){
    .services{
        .service{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 8px;
        .card{
            height: 220px;
        }

        }
    }
    .featured-products{
        .card{
            height:400px;
            .card-body{
                a{
                    margin-right: 15px;
                    font-size: 12px;
                }
            }
        }
    }
    .Similar-products{
        .featured-products{
            .card{
                .card-body{
                    .btn{
                        display: flex;
                        justify-content: center;
                        align-items:center;
                        width:50%;
                        font-size: 10px;
                        font-weight: 600;
                        background-color: $color-coffe;
                        color: $color-white;
                        transition: all 0.4s ease;
                
                         &:hover{
                          background-color: #09c;
                
                         }
                
                    }
    
                }
            }
    
        }
      }


}
@media (max-width:992px){
    .navbar-nav{
        .nav-link{
           text-align: center;
        }
    }
    .services{
        .service{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 8px;
        width: 100%;
        }
    }
    .Similar-products{
        .featured-products{
            .card{
                .card-body{
                    .btn{
                        display: flex;
                        justify-content: center;
                        align-items:center;
                        width:50%;
                        font-size: 10px;
                        font-weight: 600;
                        background-color: $color-coffe;
                        color: $color-white;
                        transition: all 0.4s ease;
                        
                         &:hover{
                          background-color: #09c;
                
                         }
                
                    }
                    .old-price{
                        margin-left: 7px;
                    }
    
                }
            }
    
        }
      }
    
    

}
@media (max-width:600px){
    .featured-products{
        .card{
            height:auto;
            
        }
    }

}



